<form method="POST" action="/new" class="message">
    <label for="user">Author's Name</label>
    <input type="text" id="user" name="user" required>
    <label for="text">Message Text</label>
    <input type="text" id="text" name="text" required>
    <button type="submit">Submit</button>
</form>
