<form method="POST" action="/new" class="message">
    <label for="name">Authors name</label>
    <input type="text" id="name" name="name">
    <label for="message">Text</label>
    <input type="text" id="message" name="message">
    <button type="submit">Submit</button>
 </form>